@media (min-width: 600px) {
  .farve {
    height: 600px;
    background: linear-gradient(
      to right,
      #4d0a74 0%,
      #4d0a74 60%,
      #ffcef3 60%,
      #ffcef3 100%
    );
  }

  /*------------- forside ---------*/

  .splash img {
    max-width: 300px;
    display: block;
    margin-left: 49.5%;
    margin-right: auto;
    margin-top: 9%;
  }
  .forside-text {
    text-align-last: right;
    padding-right: 56%;
  }
  /*-------------book billede på tema side ---------*/
  .grid-1-2 img {
    max-width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
  .grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    height: 550px;
    background-color: #ffd3f4;
  }
  .col2 {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .col2 img {
    max-width: 80%;
  }

  .foot_grid {
    min-height: 100%;
    margin-top: 5%;
    height: 100%;
    background-color: white;
  }

  /*------------- opsætning af projekt side  ---------*/
  .grid-1 img {
    max-width: 100%;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    background-color: #ffd3f4;
  }

  .pro-1 {
    margin-left: 41%;
    margin-top: 10%;
  }
  .pro-3 {
    margin-left: 41%;
  }

  .pro-2 {
    margin-right: 41%;
    margin-top: 10%;
  }
  .pro-4 {
    margin-right: 41%;
  }
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
  }
  /*------------- opsætning af tema 2 & 3 ---------*/
  .grid-2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin-top: 5%;
    background-color: #fff;
  }
  .grid-2-1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-top: 5%;
    margin-left: 7%;
  }

  .col {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .col img {
    max-width: 100%;
    max-height: 280px;
  }
  .col-1 {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
  }
  .col-1 img {
    max-width: 300px;
    max-height: 200px;
  }
  /*------------- opsætning af tema 4  ---------*/
  .grid-3 {
    display: flex;
    justify-content: center;
    margin-top: -3%;
  }
  .grid-3 img {
    max-height: 400px;
  }
  .flex-col {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: auto;
  }
  .flex-col1 {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .flex-col1 img {
    max-width: 300px;
  }

  .grid-4 {
    display: grid;
    gap: 20px;
    background-color: #e2e0d9;
    margin-block: 7%;
  }
  .grid-4 p {
    font-family: "Work Sans", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.5rem;
    max-width: 90ch;
  }
  br {
    margin-top: 10px;
  }
}
/* ----------------------------- mobil regler ------------------------------- */
@media (max-width: 600px) {
  img {
    max-width: 80%;
  }
  .grid-1-2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-1 {
    display: grid;
    gap: 20px;
  }
  .grid-2 img {
    margin-top: 10%;
  }
  .grid-2-1 img {
    margin-top: 10%;
  }
  .grid-2 {
    margin-top: 10%;
  }
  .grid-2-1 {
    margin-top: 10%;
  }
  .grid-3 {
    margin-top: 10%;
  }
  .grid-4 {
    margin-top: 10%;
  }
  .box {
    margin-top: 10%;
  }
  main {
    margin-inline: 10%;
  }
  .splash img {
    max-width: 55%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
  }
  body {
    background-color: #ffcef3;
  }
  .splash h1 {
    background-color: #ffcef3;
  }
}
@media (min-width: 900px) {
  .grid_1 {
    gap: 25px;
    margin-inline-start: 0;
  }
}
