* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 12%;
  background-color: #ffffff;
}

.nav-links {
  display: flex;
  gap: 5rem;
  list-style: none;
}

li,
a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: #373737;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.nav-links li a:hover {
  color: #0f16eb;
}
.logo :hover {
  color: #0f16eb;
}
.nav2 {
  margin-top: 2vw;
  margin-left: 32vw;
}

footer {
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #4d0a74;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}
h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
p {
  font-family: "Work Sans", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5rem;
  max-width: 65ch;
}

figcaption {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  color: #5d5d5d;
}
.text-container a {
  color: #4d0a74;
  background-color: #ffd3f4;
  padding: 5px 20px;
  border-radius: 50px;
}

.baggrund {
  background-color: #ffd3f4;
}
video {
  display: block;
  height: auto;
  max-width: 100%;
}
.videos {
  display: grid;
  grid-template-columns: 1r 1fr;
  gap: 20px;
}

@media (min-width: 600px) {
  h1 {
    background-color: #ffd3f4;
  }
  .splash h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 40px;
    background-color: #4d0a74;
  }
}
/*  text på forside 

  main {
    position: relative;
  }

  .farve {
    margin-top: -93px;
  }

  .text-container {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .text-container h1 {
    background-color: transparent;
    margin-bottom: 20px;
  }
  .splash img {
    padding-top: 150px;
  }
}
*/
